arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.1
cssselect2==0.7.0
defusedxml==0.7.1
Django==5.1.4
django-ckeditor-5==0.2.17
django-cors-headers==4.7.0
django-humanize==0.1.2
django-js-asset==3.0.1
django-tinymce==4.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
fonttools==4.56.0
gunicorn==23.0.0
html5lib==1.1
humanize==4.11.0
idna==3.10
lxml==5.3.1
msgpack==1.1.0
python-magic==0.4.27
PyMySQL==1.1.1
oauthlib==3.2.2
oscrypto==1.3.0
packaging==24.2
pillow==11.0.0
pycparser==2.22
pydyf==0.11.0
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
PyJWT==2.10.1
pypdf==5.3.0
pyphen==0.17.2
python-barcode==0.15.1
python-bidi==0.6.6
python-magic-bin==0.4.14
python3-openid==3.2.0
pytz==2024.2
PyYAML==6.0.2
qrcode==8.0
redis==5.2.1
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.8.0
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2024.2
tzlocal==5.2
uritools==4.0.3
urllib3==2.3.0
weasyprint==64.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
whitenoise==6.9.0
xhtml2pdf==0.2.16
XlsxWriter==3.2.2
zopfli==0.2.3.post1
