<!-- manage_brands.html -->
{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ title }} - Panel de Administración-Gestión de Marcas{% endblock %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container mt-5">
    <h1>Gestión de Marcas</h1>

    <!-- Formulario para agregar una nueva marca -->
    <h2>Agregar Marca</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Agregar Marca</button>
    </form>

    <hr>

    <!-- Lista de marcas -->
    <h2>Lista de Marcas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Logo</th>
                <th>Sitio Web</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}
            <tr>
                <td>{{ brand.name }}</td>
                <td>
                    {% if brand.logo %}
                        <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" width="100">
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
                <td><a href="{{ brand.website }}" target="_blank">{{ brand.website }}</a></td>
                <td>
                    <!-- Acciones: Editar o Eliminar -->
                      <!-- Acciones: Editar o Eliminar -->
                    <a href="{% url 'edit_brand' brand.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <form method="POST" action="{% url 'delete_brand' brand.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                  
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay marcas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
